#    pipelight.te -- SELinux-based type-enforcement-rules for pipelight
#    Copyright (c) 2014 - 2015  Björn Esser  <besser82@fedoraproject.org>
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 2 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

module pipelight 0.3.0;

require {
	class dir { add_name getattr ioctl lock open read remove_name search write };
	class file { execmod execute execute_no_trans open read };
	class lnk_file { getattr read };
	type configfs_t;
	type fonts_t;
	type mozilla_home_t;
	type mozilla_plugin_t;
	type pstorefs_t;
	type unconfined_t;
	type winbind_helper_exec_t;
	type wine_exec_t;
}

# Pipelight-pluginloader permissions.
allow mozilla_plugin_t configfs_t:dir { getattr };
allow mozilla_plugin_t mozilla_plugin_t:file { execmod execute } ;
allow mozilla_plugin_t pstorefs_t:dir { getattr };
allow mozilla_plugin_t winbind_helper_exec_t:file { execute execute_no_trans open read };
allow mozilla_plugin_t wine_exec_t:file { execmod execute };

# Silverlight chokes without this.
allow mozilla_plugin_t fonts_t:file { execute };

# Rules for $HOME file-transition.
userdom_user_home_dir_filetrans(unconfined_t, mozilla_home_t, dir, ".wine-pipelight")
userdom_user_home_dir_filetrans(unconfined_t, mozilla_home_t, dir, ".wine-pipelight64")
